DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres

BETTER_AUTH_SECRET=pqUB4WBFWdEBqepBh1JkWFWZGf0UQAHi
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app

PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlOGJkM2ViMS02NWE3LTRiNzEtOGE4YS0zMGZjNjdhMjE0NTgiLCJlbWFpbCI6InouZ3JjZXZAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImZhMzU1ODE2NGRkNGQxZjA1M2ZhIiwic2NvcGVkS2V5U2VjcmV0IjoiNTA0ZDdlNmYzNWRlZTZiYzQ2ODM0MDAwMDEwNTI5Yjk4YzQ4MjUxN2VjZDkwMmYxNmNhYmIyMWVjM2JiOWQ3NyIsImV4cCI6MTc5MDA3MDY2N30.DuyRtg-Jyjt4vkZLTzNGzicqR6TU2qFDl-y4EwDW9uQ
PINATA_GATEWAY=copper-defiant-bird-396.mypinata.cloud
