DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres

BETTER_AUTH_SECRET=pqUB4WBFWdEBqepBh1JkWFWZGf0UQAHi
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app
