@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --radius: 0.625rem;
  --background: var(--color-cyan-50);
  --foreground: var(--color-neutral-950);
  --header: var(--color-cyan-600);
  --header-foreground: var(--color-cyan-50);
  --footer: var(--color-cyan-700);
  --footer-foreground: var(--color-neutral-50);
  --card: var(--color-slate-50);
  --card-foreground: var(--color-neutral-950);
  --popover: var(--color-cyan-200);
  --popover-foreground: var(--color-neutral-950);
  --primary: var(--color-cyan-500);
  --primary-foreground: var(--color-cyan-50);
  --secondary: var(--color-sky-500);
  --secondary-foreground: var(--color-sky-50);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-white);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-500);
  --accent: var(--color-neutral-100);
  --accent-foreground: var(--color-neutral-900);
  --ring: var(--color-neutral-400);
  --border: var(--color-neutral-300);
  --input: var(--color-neutral-300);
}

.dark {
  --background: var(--color-cyan-950);
  --foreground: var(--color-neutral-50);
  --header: var(--color-cyan-900);
  --footer: var(--color-cyan-900);
  --card: var(--color-cyan-900);
  --card-foreground: var(--color-neutral-50);
  --popover: var(--color-cyan-950);
  --popover-foreground: var(--color-neutral-50);
  --primary: var(--color-cyan-700);
  --primary-foreground: var(--color-cyan-50);
  --secondary: var(--color-sky-700);
  --secondary-foreground: var(--color-sky-50);
  --destructive: var(--color-red-700);
  --destructive-foreground: var(--color-white);
  --muted: var(--color-neutral-800);
  --muted-foreground: var(--color-neutral-400);
  --accent: var(--color-neutral-800);
  --accent-foreground: var(--color-neutral-50);
  --ring: var(--color-neutral-500);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header: var(--header);
  --color-header-foreground: var(--header-foreground);
  --color-header-border: var(--header-border);
  --color-footer: var(--footer);
  --color-footer-foreground: var(--footer-foreground);
  --color-footer-border: var(--footer-border);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-input: var(--input);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-sans: var(--font-nunito-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nunito Sans", sans-serif;
}

.hero {
  --foreground: var(--color-cyan-50);
  --primary: var(--color-orange-400);
  --primary-foreground: var(--color-white);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Show only the car details content */
  .printable,
  .printable * {
    visibility: visible;
  }

  /* Position the printable content at the top */
  .printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}
